<!-- Header: Standard -->
<header class="template-header  template-header--standard">
	<div class="header-item  header-item--logo-companyname">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile" })|raw}}
	</div>
	<div class="header-item  header-item--navigation">
        {% include "snippets/navigation/navigation--fullscreen/navigation--fullscreen.twig" %}
	</div>
</header>
