// -------------------------------------
// DIFM Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}

@templateCommon: "../../templates/common/";
@templateLocal: "";


// -----------------------------
// #Imports
// -----------------------------


// #Template Imports
// -----------------------------


@import "@{templateCommon}/bk-less-framework.less";             // Framework
@import "@{templateLocal}/less/mixins.less";                    // Mixins
@import "@{templateLocal}/less/variables.less";                 // Variables


// #Snippet Imports
// -----------------------------


// Note: Delete any unused import files and includes below.


// Headers
@import "@{templateLocal}/snippets/headers/headers.less";

// Navigation
@import "@{templateLocal}/snippets/navigation/navigation--simple/navigation--simple.less";
@import "@{templateLocal}/snippets/navigation/navigation--fullscreen/navigation--fullscreen.less";

// Widgets
@import "@{templateLocal}/widgets/feature.less";




// ------------------------------
// Site Styles
// ------------------------------


body {
    height: 100%;
    background-color: #f2f2f2;
}


// Site Container
.site-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: @color__body--background;
    overflow: hidden;

    @media @tablet {
        background-color: #fff;
    }
}

// Container
.container {
    width: 90%;
    max-width: @value__content-container--width;
    margin: 0 auto;
}

// Main
.main-content {
    position: relative;
    padding: @value__global-spacing--desktop 0;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}
