<!-- Footer: Central -->
<footer class="template-footer  template-footer--column-3">
    <div class="footer-item  footer-item--profile-left">
        {{widget('profile', 'footer-profile1', { 'profileType':'address' })|raw}}
    </div>
	<div class="footer-item  footer-item---middle-">
		{{widget('profile', 'footer-profile1', { 'profileType':'address' })|raw}}
	</div>
	<div class="footer-item  footer-item--profile-right">
        {{widget('profile', 'footer-profile2', { 'profileType':'copyright' })|raw}}
	</div>
</footer>
