<!-- Header: Align Justify -->
<header class="template-header  template-header--align-justify">
	<div class="header-item  header-item--logo-companyname">
		{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile" })|raw}}
	</div>
	<div class="header-item">
		<nav class="template-navigation">
			{{widget('extendednavigation', 'header-nav', {"align":"right"})|raw}}
		</nav>
	</div>
</header>

